
<div class="col-8" style="margin: auto;">
    <h1>Chỉnh sửa thông tin User</h1>

    <form action="/admin/users/{{user.id}}/update" method="post">
        <div class="mb-3">
            <label for="id" class="form-label">Id</label>
            <input type="text" class="form-control" id="id" name="id" value="{{user.id}}" disabled>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Tên</label>
            <input type="text" class="form-control" id="name" name="name" value="{{user.name}}">
        </div>
        <div class="mb-3">
            <label for="meta" class="form-label">Meta</label>
            <input type="text" class="form-control" id="meta" name="meta" value="{{user.meta}}">
        </div>
        <div class="mb-3">
            <div class="form-group form-check">
                <input class="form-check-input" type="checkbox" name="hide" value="" id="hide" {{check user.hide}}>     
                <label class="form-check-label" for="hide">Hiển thị</label>
            </div>
        </div>
        <div class="mb-3">
            <label for="order" class="form-label">Thứ tự</label>
            <input type="number" class="form-control" id="order" name="order" value="{{user.order}}">
        </div>
        <div class="mb-3">
            <div class="form-group form-check">
                <input class="form-check-input" type="checkbox" name="status" value="" id="hide" {{check user.status}}>     
                <label class="form-check-label" for="hide">Active</label>
            </div>
        </div>
        <div class="mb-3">
            <input type="submit" value="Lưu" class="btn btn-primary px-4">
        </div>
    </form>
</div>