    <div class="col-md-12" style="margin: auto;">
        <div class="col-12">
            <h1>Video chưa duyệt</h1>  
        </div>

        <div class="col-12">
            <div class="search add-row mx-3">
                <div class="input-group mb-3">
                    <input type="text" id="inputSearch" onkeyup="mySearch()" class="form-control" placeholder="Enter keys..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
            {{!-- Alert message --}}
            {{#if message}}
                <div class="alert alert-{{status}} alert-dismissible fade show col-4" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {{/if}}
        </div>

    <div style="overflow: scroll; width: 100%; height: 70vh; position: sticky;">
        <table id="myTable" class="table table-striped" >
            <thead style="position: sticky;">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Người đăng</th>
                    <th scope="col">Ngày đăng</th>
                    <th scope="col">Thời gian đăng</th>
                </tr>
            </thead>
            <tbody>
                {{#unless videos}}
                    <tr>
                        <td colspan="5" style="text-align: center;">
                            Không có video nào
                        </td>
                    </tr>
                {{/unless}}
                {{#each videos}}
                    <tr>
                        <th scope="row">{{inc @index}}</th>
                        <td><a href="/admin/videos/{{this.id}}/detail">{{this.title}}</a></td>
                        <td>{{this.user_name}}</td>
                        <td>{{displayDate this.datebegin}}</td>
                        <td>{{displayTime this.datebegin}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="col-6">
        
    </div>
    

    <form action="" id="m-form"></form>
    </div>


<script>
    console.log("Quan ly chuyên mục")

    const actionDeleteUser = "/admin/tags"
    let _form = $("#m-form")

    setTimeout(function() {
        $(".alert").hide();
    }, 2500)

    $(".btn-delete").click(function(){
        var del_id = $(this).attr("data-id")
        console.log("del user id: " + del_id)

        // Get name delete
        var name = $(this).parent().parent().children()[1].innerText

        console.log(name)

        $(".delete-name").html(name)
 
        //send form to delete
        var urlDelete = actionDeleteUser + "/" + del_id + "/delete"

        _form.attr("method", "GET")
        _form.attr("action", urlDelete)

        $(".btn-confirm-delete").click(function(){
            _form.submit()
        })
    })

</script>